body {
background-color:white;
font-family: vedana, sans-serif;
padding: 5px 25px;
font-size:18px;
color: #444;
} 
h1 {
font-family: Merriweather, serif;
font-size:48px;
color:red
}
li {
font-family: armenian
}