body  {
	 background-color:blue;
	 front-family: "Open Sans", sans-serif;
	 padding: 5px 25px;
	font-size: 18px;
	margin: 0;
	color: #C8C8C8;
}
 
h1 {
	font-family: "Merrinweather", serif;
	font-size: 32px;
}