 body{
	 background-color:#56a4b6;
	 font-family: "Open Sans",sans-serif;
  padding : 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}
h1{
 font-family: "Merriweather", serif;
 color: #444;
 font-size: 72px;
}
