body{
background-color: khaki; 
font-family: "Open Sans";
border: 5px double;
}
img{
border: 5px double;
border-radius: 80px;
margin-top: 10px;
margin-left: 10px;
padding: 4px 4px 4px 4px;
}
h1{
font-family: "Broadway";
color: #FF69B4;
}
h2{
font-family: "Fairwater Script";
color: blue;
}
h3{
font-family: "Fairwater Script";
color: red;
}