h1{
 color: green;
}
body {
  background-color: grey;
  font-family: "Open Sans", sans-serif;
  padding : 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
} 

body {
    background-color: black;
    color: white;
    font-family: Arial;
    margin: 20px;
}

h1 {
    color: green;
    text-align: center;
    border: 2px solid green;
    padding: 10px;
}

h2 {
    color: yellow;
    border-bottom: 1px solid yellow;
    margin-top: 20px;
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    border-radius: 10px;
}

ul {
    margin-left: 20px;
}

.email {
    color: lightblue;
    text-decoration: underline;
}

li {
    margin-bottom: 5px;