body {
	background-color:white;
	color:black;
}
h1 {
	font-size:40px;
	color:green;
	background-color:pink;
	text-align:center
}
a{ 
	color:green;
	text-decoration:none;
}
h2{
	color:green;
	font-size:30px;
	background-color:pink;

}
u{
	
	color:green
}
