body {
	background-color: Cornsilk
}
h1 {
	color: LightCoral 
}
h2 {
	color: PaleVioletRed
}
h2 {
	font-size: 30px
}
h2 {
	font-weight: normal
}
h3 {
	text-decoration: underline 
}
li {
	font-style: italic
}
p {
	font-size: 20px