body { 
background-color: white

}
body{ 
font-family:Arial

}
h1{
text-align: center ;
color: #6495ED

}
h2{
	border-bottom: 5px c;color : #6495ED ; font-style : italic ;
	padding-bottom: 2px
