body {
	background-color: beige ;
    font-family: Courier-New;
	color: maroon;
	text-align: center;
	font-size: large;
	border-width: 3px;
	border-style: solid;
	border-color: maroon
}
h2 {
text-decoration: underline
}
p1{ 
text-decoration: underline
}
h2 { 
font-style : italic
}
p {
	font-size: larger
}
ul { 
list-style-type:none
}
 h1 {
	 border-width: 3px;
	 border-style: dashed;
     border-color: pink
 }
 h2  {
	 color: pink
 }
