body {
    font-family: "Trebuchet MS", Arial, sans-serif ;
}
h1 {
	font-size: 34px ;
}
h2 {
	font-size: 34px ;
}
h1 {
	color: DarkSlateGray
}
h2 {
	color: DarkRed
}
body {
	background-color: LemonChiffon
}