body  { 
  background-color:#212E53;
  font-family:"Kolikö", sans-serif;
  padding:5px 25px;
  font-size:16px;
  color:#FFBF66;
}
h1 {
	font-family:"Nordic", serif;
	font-size:44px;
	color:#EBACA2;
}
h2 {
	font-family:"Times New Roman", serif;
	font-size:36px;
	color:#CE6A6B
}
h3 {
	font-family:"Times New Roman", serif;
	font-size:24px;
	color:#FF8DA1
}
	

 