body{
background-color: white; 
font family: "open Sans", sans-serif;
padding: 5px 25px;
font size: 18px;
margin: 0;
color: black;
}
h1 {
font-family: "Merriweather",serif;
font-size: 32px;
}
h2 {
font-family: "open Sans", sans-serif;
font size: 24px;	
color: red; 
}
h3{
	text-decoration:underline;
}