		body {
		 font-family: Verdana, Arial, sans-serif ;
		}
		body {
		 background-color: #556B2F
		}
		body {
		 font-size: large ;
		}
		h1,h2,h3{
		 color: #FF8C00
		}
		h1{
		 text-decoration: underline
		}
		body { 
		 text-align: center
		}
		ul {
		list-style-type: none
		}
		ol { 
		list-style-type: none