body{
	 color:#A9A9A9;
}
h1{ 
     font-family: Verdana; 
     border:4px;
	 text-align:center;
}
h2{
	border-style: ridge;
	text-align : center;
	background-color:pink
}
	


	

	 
	 